*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url("goblin.jpg");
    background-size: cover;

}
header{
    height:100px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
ul{
    display: flex;
    list-style-type: none;
    

}
ul li a{
    padding: 0 20px;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    display: inline-block;
}
li a::after{
    counter:'';
    display: block;
    height:4px;
    width: 0;
    background: #c4c4f7;
    transition: all.5s;
}
li a:hover::after{
    width: 100%;
}
main{
    display:flex;
   padding-top: 70px;
   padding-left: 500px;
    height:calc(100vh -100px);
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.greengob{
    height:400px;
    width: 900px;
}
.content-left{
width:35%;
}
main h1{
    font-size: 40px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 170px;
    width: 600px;
}
main h2{
    width: 500px;
    color: aliceblue;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
   padding-left: 130px;
}
main p{
    width: 700px;
    
    padding-top: 20px;
    font-size: 20px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right:50px;

}
 main input{
    font-weight: 800;
    margin-top: 20px;
    padding-bottom: 10px;
    height: 30px;
    width:150px;
    margin-left:200px;
   /* line-height: 10px;*/
   
}
button{
    height: 40px;
    width: 100px;
  border-radius: 50px;
margin-left: 220px;
background-color: rgb(231, 231, 16);
font-weight: bold;
}